{% include 'search_form.html' %}

  <h1>{{ request.user }}</h1>
<div class="row">
    {% if not request.GET.q %}


            {% include 'create_view.html' with form=create_form action_url=create_url %}



</div>
{% endif %}
{% if object.image %}

  <img class="mr-3" src="..." alt="Generic placeholder image">
{% endif %}

{% for object in object_list %}


    <h3>
        {{ object.content }}
    </h3>
      {{ object.timestamp }} | {{ object.timestamp|timesince }} | <a href="{{ object.get_absolute_url }}">View</a> |  <a href="{{ object.delete }}">Delete</a>



{% empty %}
    {% if request.GET.q %}
         <p>No tweets found</p>
    {% else %}

    {% endif %}

{% endfor %}
