{% include 'search_form.html' %}<br/>

<div class="row">
<div class="col-sm-8 text center" >

<div class="media">
{% if object.image %}
  <img class="mr-3" src="..." alt="Generic placeholder image">
{% endif %}
    {% for object in object_list %}
  <div class="media-body">

    <h3>
        {{ object.content }}
    </h3>
      {{ object.timestamp }} | {{ object.timestamp|timesince }} | <a href="{{ object.get_absolute_url }}">View</a>








{% empty %}
    {% if request.GET.q %}
         <p>No tweets found</p>
    {% else %}

    {% endif %}

{% endfor %}
</div>
</div>
 </div>
</div>
